/* * {
    box-sizing: border-box;
} */

body {
    background-color: black;
    font-family: 'Oswald', sans-serif;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
}

.mainHeader {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 5rem;
    color: pink;
    display: flex;
    justify-content: center;
    letter-spacing: 0.5rem;
}

.wisienka {
    transition: 400ms linear;
}

.wisienka:hover {
    transform: rotate(360deg);
    color: white;
    cursor: default;
}

.subHeader {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.subHeader::before {
    content: '';
    height: 30px;
    width: 2px;
    background-color: white;
    position: relative;
    top: 5px;
    left: 190px;
}

.subHeader::after {
    content: '';
    height: 30px;
    width: 2px;
    background-color: white;
    position: relative;
    top: 5px;
    right: 180px;
}

.subHeaderText {
    margin: 0.5rem 4rem;
    font-size: 1rem;
    padding: 0.2rem;
}

.navbar {
    margin-top: -2rem;
    margin-bottom: 2.5rem;
    margin-right: 3rem;
    margin-left: 3rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid white;
}

.navigation,
.navigation ul {
    display: flex;
    align-items: center;
}

.navigation li {
    padding: 2rem 0rem;
    padding-right: 5rem;
    font-size: 2rem;
}

.navigationList li a {
    transition: 200ms linear;
}

.navigationList li a:hover {
    color: pink;
}

.navbar ul {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    padding: 1rem;
    color: white;
}

.searchbar {
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

input,
button {
    outline: none;
}

.searchbar input,
.searchbar button {
    font-size: 2rem;
    border: none;
    background-color: white;
    border-radius: 15px;
    padding: 0.5rem;
}

.searchbar input {
    padding-right: 0;
}

.searchbar button {
    padding-left: 0;
    cursor: pointer;
    transition: 200ms linear;
    position: relative;
    right: 35px;
}

.searchbar button:hover {
    color: pink;
}

.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 6rem;
}

.photographyHeader {
    display: flex;
    width: 100vw;
    color: white;
    margin-left: 3.5rem;
    margin-bottom: -4rem;
}

.photographyHeaderText {
    text-transform: uppercase;
    font-size: 3.5rem;
    padding-bottom: 0.5rem;
}

.photo {
    border: 3px solid white;
    height: 500px;
    width: 500px;
    margin: 2rem;
    transition: 200ms linear;
}

.photo:hover {
    transform: scale(1.07);
    cursor: pointer;
    border-color: pink;
    filter: grayscale(50%);
}

.photoOne {
    background-image: url(1.2.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    filter: grayscale(100%);
}

img {
    object-fit: cover;
    filter: grayscale(100%);
}

/* *****************LIGHTBOX****************** */

.lightbox {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.8);
}

.lightbox:target {
    display: block;
}

.lightbox span {
    display: block;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* *************************************************** */

.graphicsHeader {
    display: flex;
    justify-content: flex-start;
    width: 100vw;
    color: white;
    margin-left: 3.5rem;
    margin-bottom: -4rem;
}

.graphicsHeaderText {
    text-transform: uppercase;
    font-size: 3.5rem;
    padding-bottom: 0.5rem;
}

.graphic {
    border: 3px solid white;
    height: 500px;
    width: 500px;
    margin: 2rem;
    transition: 200ms linear;
}

.graphic:hover {
    transform: scale(1.07);
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: black;
    border-top: 2px solid white;
    margin-right: 3rem;
    margin-left: 3rem;
    padding-top: 2rem;
}

.email,
.telephone,
.location {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.socials i {
    color: white;
    margin: 3rem;
    font-size: 2rem;
}

.socialsOne {
    display: flex;
    flex-direction: column;
}

.socialsOne i {
    font-size: 2.5rem;
    transition: 200ms linear;
}

.socialsOne i:hover {
    color: pink;
    cursor: pointer;
}

.socialsTwo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.socialsTwo i {
    font-size: 3rem;
    transition: 200ms linear;
}

.socialsTwo i:hover {
    color: pink;
}

.emailText,
.telephoneText,
.locationText {
    color: pink;
    text-align: center;
    margin-left: -2rem;
}

.footerText {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    border-bottom: 1px solid pink;
}

.middle {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    max-width: 30%;
}